/*------------------------------
    >>>Css Indexing
    ------------------
    01.Global Css
*/

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* swiper linear slide css */
.linear-carusal-slider .swiper-wrapper{
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

