@media (max-width: 880px) {
    .slider-progress-content {
        display: none;
    }

}


@media (max-width: 768px) {

    /* ====================
        Hero slider area 
     ====================== */
    .slider-left-content h2 {
        font-size: 70px;
        margin: 16px 0 20px;
    }

    .hero-slider .swiper-slide {
        height: 100%;
    }

    .hero-slider-absoulet-content .slider-left-content {
        max-width: 590px;
    }

    .hero-desktop-video{
        display: none;
    }

    .hero-mobile-video{
        display: block;
    }

     
    /* Faq Area */
    .faq-arrow-wrap {
        margin-top: 8px;
    }
    
    /* Projects Area  */
    .projects-list {
        grid-template-columns: 1fr;
    }

    /* Service list widget */
    .services-list-content{
        position: static !important;
        transform: none !important;
    }

    .services-list {
        padding-bottom: 0px;
    }
}

@media (max-width: 480px) {

    /* Hero area */
    .hero-slider-area .swiper.hero-slider {
        max-height: 600px;
    }

    .slider-left-content {
        margin-bottom: 100px;
    }

    .slider-left-content h2 {
        font-size: 40px;
    }

    .slider-left-content {
        margin-bottom: 130px;
    }

    .slider-left-content {
        margin-bottom: 138px;
    }

   

    /* Service Slider*/
     .services-slider-content {
        grid-template-columns: 1fr;
    }

    /* Feature Blog with list Widget */
    
    .feature-blog-item .feature-blog-item-thumb img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .feature-blog-wrapper {
        grid-template-columns: 1fr;
    }

    article.feature-blog-item {
        flex-direction: column;
    }

    /* Faq Area */
    .faq-arrow-wrap {
        margin-top: 4px;
    }

    /* Service list widget */
    .services-list-content {
        grid-template-columns: 1fr;
    }

    /* Blog List Widget */
    .blog-list {
        grid-template-columns: 1fr;
        gap: 16px;
    }

}